<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>NEAR U</title>
   <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; }
	
    </style>
</head>
<body>
	<div class="container">
	<img src="logo.png">
	</div>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Ricerca luoghi d'interesse intorno a te</h1>

        <a href="/login" class="btn btn-login-button"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-login-button"><span class="fa fa-user"></span> Registrati</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <!--<a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>-->
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>

    </div>

</div>
</body>
</html>
